body  {
    color: #777777;
    background-image: url("../images/whirlpool.png");
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    font-size: 16px;

}

.header {
    background: #4aaaa5;
    height: 100px;
    /* width: 100%; */
    color: #ffffff;
    width: 240px;
    text-align: center;
    
}

.topBox {
    border-bottom: 2px solid #b9b9b9;
    background-color: #ffffff;
}

h1 {
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    font-size: 30px;
    font-weight: bold;
    padding-top: 13px;
}

li {
    list-style: none;
    float: left;
    margin-top: 35px;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

/* #contact {
    padding-right: -200px;
} */




/* These psuedocodes relate to the nav links */
a:link {
    color: rgb(136, 136, 136);
    text-decoration: none;
}

a:visited {
    color: rgb(136, 136, 136);
}

/* mouse over link */
a:hover {
    color: rgb(80, 77, 80);
    text-decoration: none;
}

#myPhoto {
    width: 200px;
}

#pageHead {
    color: #4aaaa5;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    font-size: 30px;
    border-bottom: 2px solid #b9b9b9;
    padding-left: 40px;

    
}

.aboutMe {
    margin-left: -100px;
    margin-top: 50px;
    border: .5px solid #dbdbdb;
    background-color: #ffffff;
    height: 80%;
    width: 65%;

}

.portfolioBox {
    margin-left: -25px;
    margin-top: 50px;
    margin-bottom: 100px;
    border: .5px solid #dbdbdb;
    background-color: #ffffff;
    height: 80%;
    width: 65%;
    /* float: left; */

}

p {
    padding: 10px;px;
}

.connectBox {
    border: solid #dbdbdb;
    border-width: .5px;
    width: 270px;
    margin-left: 2%;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 100px;
    background-color: #ffffff;
}

h2 {
    text-align: center;
    color: #4aaaa5;
    font-family: "Georgia", "Times", "Times New Roman", "serif";
    font-size: 22px;
    font-weight: bold; 
    border-bottom: 2px solid #b9b9b9;
    padding-bottom: 10px;
}

#github {
    width: 25%;
    float: left;
    margin-right: 2px;
    margin-left: 30px;
    padding-bottom: 40px;
    padding-top: 20px;
    
}

#linked {
    width: 25%;
    float: left;
    margin-left: 4px;
    margin-right: 2px;
    padding-top: 20px;
}

#stack {
    width: 22%;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 20px;
}

#crystal, #hangman, #horse, #tree, #giraffe, #puppy {
    height: 250px;
    z-index: -1;
    padding-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
}

#hangman {
    width: 308px;
}

#crystal {
    width: 308px;
}

.titles {
    color: #ffffff;
    position: relative;
    background-color: #4aaaa5;
    z-index: 5;
    text-align: center;
    width: 307px;
    height: 40px;
    top: -70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}

/* All below relate to contact form */
.contactBox {
    height: 700px;
    margin-left: -100px;
    margin-top: 50px;
    margin-bottom: 150px;
    border: .5px solid #dbdbdb;
    background-color: #ffffff;
}

.formBox {
    margin-top: -80px;
    margin-left: -50px;
}

.formInput {
    margin-bottom: 5px;
    padding: 5px;
}


#messageBox {
    height: 250px;
}

#button {
    background: #4aaaa5;
    width: 70px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

input {
    width: 500px;
    height: 20px;
    padding: 6px;
    margin-bottom: -10px;
    font-size: 12px;
}


#foot {
    background-color: rgb(107, 107, 107);
    text-align: center;
    padding: 10px;
    font-size: 11px;
    border-top: solid #adadad;
    color:  #adadad;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    z-index: 8;
    vertical-align: middle;
}

.footer {
    /* margin-top: 20px; */
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    position: fixed;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}